<app>
  <h1>{ props.title }</h1>

  <script>
    export default {
      onBeforeMount({ isServer }) {
        if (!isServer) {
          console.log("this app is not SSR!!")
        }
      },
      onAsyncRendering(resolve, reject) {
        return resolve()
      }
    }
  </script>

  <style>
    h1 {
      font-family: Futura;
    }
  </style>
</app>