<error>
  <h1>Oops!!</h1>
  <h3> Unexpected error occurred</h3>

  <script>
    export default {
      onBeforeMount(props, state) {
        console.log(props.params)
      }
    }
  </script>

  <style>
    :host {
      font-family: Futura;
    }
  </style>

</error>
