<hello>
  <h1>Hello from <span>Riot</span></h1>

  <script>
    export default {
      onAsyncRendering(resolve, reject) {
        console.log("rendering!!")
        resolve()
      }
    }
  </script>

  <style>
    h1 {
      font-family: Futura;
    }
    span {
      color: #e943of;
      text-decoration: none;
      font-weight: bold;
    }
  </style>
</hello>
